
<%-include("partials/header.ejs")%>

<section class="section featured-car" id="featured-car">
    <div class="container">
      <% if(locals.isLoggedIn && isLoggedIn === true){ %>  
        <div class="title-wrapper-2">
          <a href="hiring"><button class="btn-bk-2">HIRE NOW</button></a>
        </div>
      <% }else{ %>
        <div class="title-wrapper-2">
          <a href="login"><button class="btn-bk-2">HIRE NOW</button></a>
        </div>
      <% } %> 
      <ul class="featured-car-list">
        <% if(locals.errorMessage){ %>
          <div class="message-container-2">
            <p><%= errorMessage %></p>
          </div>
        <% }else{ %>
            <% if(locals.drivers && drivers != -1){ %>
              <% drivers.forEach((driver) => { %>
                <li>
                  <div class="featured-car-card">
                    <figure class="card-banner">
                      <img src="<%= driver.driver_image_path %>" alt="alex" loading="lazy" width="440" height="300"
                        class="w-100">
                    </figure>
                    <div class="card-content">
                      <div class="card-title-wrapper">
                        <h3 class="h3 card-title">
                          <a href="#"><%= driver.driver_name %></a>
                        </h3>
                        <data class="year">D<%= driver.driver_id %></data>
                      </div>
                      <ul class="card-list">
                        <li class="card-list-item">
                          <ion-icon name="person-outline"></ion-icon>
                          <span class="card-item-text"><%= driver.age %> years old</span>
                        </li>
                        <li class="card-list-item">
                          <ion-icon name="transgender-outline"></ion-icon>
                          <span class="card-item-text"><%=  (driver.gender=='M')?"Male":"Female" %></span>
                        </li>
                        <li class="card-list-item">
                          <ion-icon name="speedometer-outline"></ion-icon>
                          <span class="card-item-text"><%= driver.experience %> yrs experience</span>
                        </li>
                        <li class="card-list-item">
                          <ion-icon name="car-outline"></ion-icon>
                          <span class="card-item-text"><%= driver.drivable_vehicles %></span>
                        </li>
                      </ul>
                      <div class="card-price-wrapper">
                        <p class="card-price">
                          <strong>Rs.<%= driver.price_per_day %></strong> / day
                        </p>
                      </div>
                    </div>
                  </div>
              </li>
              <% }); %>
            <% }else{ %>
              <div class="message-container-2">
                <p>No drivers are available at the moment.</p>
              </div>
          <% } %>
        <% } %>
      </ul>

    </div>
  </section>
  <%-include("partials/footer.ejs")%>