
<%-include("partials/header.ejs")%>

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero bg-image-home" id="home">
        <div class="container ">

          <div class="hero-content ">
            <h2 class="h1 hero-title">The easy way to takeover a lease</h2>

            <p class="hero-text">
      
            </p>
            <% if(locals.isLoggedIn && isLoggedIn === true){ %>  
              <div class="buttons-container">
                <a href="bookingpage"><button class="btn-bk" style="margin-right: 1rem;">BOOK NOW</button></a>
                <a href="hiring"><button class="btn-bk-2">HIRE NOW</button></a>
              </div>
            <% }else{ %>
              <div class="buttons-container">
                <a href="login"><button class="btn-bk" style="margin-right: 1rem;">BOOK NOW</button></a>
                <a href="login"><button class="btn-bk-2">HIRE NOW</button></a>
              </div>
            <% } %>  
            
            
            
          </div>
          <div >
             
          </div>

        </div>
      </section>





      <!-- 
        - #FEATURED CAR
      -->

      <section class="section featured-car" id="featured-car">
        <% if(locals.featuredVehicles && featuredVehicles != -1){ %>
        <div class="container">
          <div class="title-wrapper">
            <h2 class="h2 section-title">Featured cars</h2>
          </div>
          <ul class="featured-car-list">
            <% featuredVehicles.forEach((vehicle) => { %>
              <li>
                <div class="featured-car-card">
                  <figure class="card-banner">
                    <img src="<%= vehicle.vehicle_image_path %>" alt="Toyota RAV4 2021" loading="lazy" width="440" height="300"
                      class="w-100">
                  </figure>
                  <div class="card-content">
                    <div class="card-title-wrapper">
                      <h3 class="h3 card-title">
                        <a href="#"><%= vehicle.vehicle_model %></a>
                      </h3>
                      <data class="year" value="2021"><%= vehicle.launched_year %></data>
                    </div>
                    <ul class="card-list">
                      <li class="card-list-item ">
                        <ion-icon name="people-outline"></ion-icon>
                        <span class="card-item-text"><%= vehicle.seating_capacity %> People</span>
                      </li>
                      <li class="card-list-item ">
                        <ion-icon name="flash-outline"></ion-icon>
                        <span class="card-item-text"><%= vehicle.vehicle_type %></span>
                      </li>
                      <li class="card-list-item ">
                        <ion-icon name="speedometer-outline"></ion-icon>
                        <span class="card-item-text"><%= vehicle.milage %>km/litre</span>
                      </li>
                      <li class="card-list-item ">
                        <ion-icon name="hardware-chip-outline"></ion-icon>
                        <span class="card-item-text"><%= vehicle.transmission_type %></span>
                      </li>
                    </ul>
                    <div class="card-price-wrapper">
                      <p class="card-price">
                        <strong>Rs.<%= vehicle.price_per_day %></strong> / day
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            <% }); %>
          </ul>
          <div class="button-explore">
            <a href="vehicles"><button class="btn">Explore more</button></a>
          </div>    
        </div>
      <% } %>
      </section>

<!-- drivers explore -->

  <section class="section featured-car" id="featured-car">
    <% if(locals.featuredDrivers && featuredDrivers != -1){ %>
        <div class="container">
          <div class="title-wrapper">
            <h2 class="h2 section-title">Expert Drivers</h2>
          </div>
          <ul class="featured-car-list">
          <% featuredDrivers.forEach((driver) => { %>
              <li>
                <div class="featured-car-card">
                  <figure class="card-banner">
                    <img src="<%= driver.driver_image_path %>" alt="alex" loading="lazy" width="440" height="300"
                      class="w-100">
                  </figure>
                  <div class="card-content">
                    <div class="card-title-wrapper">
                      <h3 class="h3 card-title">
                        <a href="#"><%= driver.driver_name %></a>
                      </h3>
                      <data class="year">D<%= driver.driver_id %></data>
                    </div>
                    <ul class="card-list">
                      <li class="card-list-item">
                        <ion-icon name="person-outline"></ion-icon>
                        <span class="card-item-text"><%= driver.age %> years old</span>
                      </li>
                      <li class="card-list-item">
                        <ion-icon name="transgender-outline"></ion-icon>
                        <span class="card-item-text"><%= (driver.gender=='M')?"Male":"Female" %></span>
                      </li>
                      <li class="card-list-item">
                        <ion-icon name="speedometer-outline"></ion-icon>
                        <span class="card-item-text"><%= driver.experience %> yrs experience</span>
                      </li>
                      <li class="card-list-item">
                        <ion-icon name="car-outline"></ion-icon>
                        <span class="card-item-text"><%= driver.drivable_vehicles %></span>
                      </li>
                    </ul>
                    <div class="card-price-wrapper">
                      <p class="card-price">
                        <strong>Rs.<%= driver.price_per_day %></strong> / day
                      </p> 
                    </div>
                  </div>
                </div>
            </li>
        <% }); %>
      </ul>
    <div class="button-explore">
      <a href="drivers"><button class="btn">Explore more</button></a>
    </div>
  </div>
  <% } %>
</section>
      <!-- 
        - #GET START
      -->
      <section class="section get-start">
        <div class="container">

          <h2 class="h2 section-title">Start with these easy-to-follow steps.</h2>

          <ul class="get-start-list">

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-1">
                  <ion-icon name="person-add-outline"></ion-icon>
                </div>

                <h3 class="card-title">Create an account</h3>

                <p class="card-text">
                  If you want to book a vehicle or hire a drivers, you need to have an account first.
                </p>

                <a href="/login" class="card-link">Get started</a>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-2">
                  <ion-icon name="car-outline"></ion-icon>
                </div>

                <h3 class="card-title">Find the vehicle you want</h3>

                <p class="card-text">
                  Review vehicle options and details prior to selecting one in the booking form.
                </p>
                
                <a href="/vehicles" class="card-link">Explore vehicles</a>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-3">
                  <ion-icon name="person-outline"></ion-icon>
                </div>

                <h3 class="card-title">Select the driver you need</h3>

                <p class="card-text">
                  Go through the list of drivers and select the specific driver id you need in the hiring form.
                </p>
                <a href="/drivers" class="card-link">Explore drivers</a>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-4">
                  <ion-icon name="happy-outline"></ion-icon>
                </div>

                <h3 class="card-title">Tip: </h3>

                <p class="card-text">
                  You need not to hire both driver and vehicle. Book just the vehicle or driver or both as per your convinience
                </p>

              </div>
            </li>

          </ul>
    </div>
  </section>
</main>
<%-include("partials/footer.ejs")%>